*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-purple{
    background-color: rgb(185, 20, 80);
}

.bg-white{
    background-color: white;
    border-radius: 10px;
}

.bg-purplelight{
    background-color: rgba(201, 129, 155, 0.699);
}

.borderb-p{
    border-bottom: 3px solid rgba(201, 129, 155, 0.699);
}

.bord-rad{
    border-radius: 8px 0px;
}

h5{
    font-weight: bold;
}

h2{
    font-weight: bolder;
    color: white;
}

.t-purple{
    color: rgba(156, 66, 99, 0.795);
}

.bord-p{
    border: 1px solid rgba(201, 129, 155, 0.699);
    border-radius: 7px;
}